<style>
    .updateWindow .window-content>* {
        flex: 0;
    }
</style>

<h1>Welcome to <b>Turn Marker</b> v{{version}}!</h1>
<h2>Need Help?</h2>
<p>It is my goal to make my modules as intuitive as possible, but some questions may arise.</p>
<p>Feel free to contact me on discord (AdagioT#9507) or checkout the <a
        href="https://github.com/kckaiwei/TurnMarker-alt">website</a>.</p>
<h2>Issues or Ideas?</h2>
<p>I try hard to fully test every feature, but some things slip through the cracks. You may also have ideas on how to
    improve the module.</p>
<p>Please submit any bug reports or feature request to the <a href="https://github.com/kckaiwei/TurnMarker-alt/issues">Issue
        Tracker</a>.</p>


<h2>Want to support development?</h2>
<p>There are lots of ways to support development, <a
        href="https://github.com/kckaiwei/TurnMarker-alt#support-development">check here</a> for more info.</h2>

<h1>Important Changes</h1>
<p>Below are just some of the changes to the module that should be called out. The full changelog is also available
    <a href="https://github.com/kckaiwei/TurnMarker-alt/blob/master/CHANGELOG.md">here</a>.</p>
<h2>v2.9.02</h2>
<ul>
    <li>Support for Foundry v9</li>
</ul>
<h2>v2.8.1</h2>
<ul>
    <li>Fixed leftover tiles on start bug</li>
    <li>Fixed animation console bug</li>
    <li>Korean translation updated</li>
</ul>
<h2>v2.8.0</h2>
<ul>
    <li>Add compatibility for Foundry version 0.8.6</li>
</ul>
<h2>v2.7.5</h2>
<ul>
    <li>Add Savage Worlds Adventurer Edition support (SWADE)</li>
</ul>
<h2>v2.7.4</h2>
<ul>
    <li>Fixed marker sizing issues for non-square tokens on grid/gridless maps</li>
    <li>Adding option for on deck marker (off by default), to mark who is next to move</li>
</ul>
<p style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;"><input
        type="checkbox" class='show-again' id="welcome-screen-show-again" /> <label
        for="welcome-screen-show-again">Don't show this screen again until next update.</label>
</p>